.syncButtons{
    gap: 5px;
    display: flex;
    flex-direction: row;
}

.image_button {
  width: 32px;
  height: 32px;
  padding: 4px;
  transition: border 0.3s, box-shadow 0.3s;
}

.pushButton, .pullButton{
  border: 1px solid var(--text-color);
  border-radius: 10px;
  background-color: transparent;
}

.pushButton.hasChanges {
  background-color: #61173d;;
  border-color: #91225b;

}

.pullButton.hasUpload {
  background-color: #174c61;;
  border-color: rgb(45, 199, 194);
}


.studySession{
  text-align: left;
}
