:root{
  --bg-color: #121212;
  --header-color: #1e1e1e;
  --block-color: #2a2a2a;
  --text-color: #ffffff;
}




#root {
  max-width: 1920px;
  text-align: center;
  color: var(--text-color);
}

.page{
  background-color: var(--bg-color);
}


.header {
  height: 45px;
  background-color: var(--header-color); /* #DDF6D2; 076117*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
}

.titleAndSelector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.site-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.login-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  border-color: transparent;
}




/* Основна частина */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.oneOfMainBlock{
  height: 220px;
  
  background-color: var(--block-color);
  border: 1px solid var(--text-color);
  border-radius: 12px;
}


.input {
  padding: 0.5rem;
  font-size: 1rem;
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;

}

.he{
  color: var(--text-color);
}

.customButton{
  border-radius: 20px;
  border: none;
  color: black;
  background-color: #0da229;
  padding: 4px;
  cursor: pointer;
}








.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* поверх усього */
}


.modal{
  max-width: 400px;
  margin: 10px auto;
  padding: 1rem;
  background: #2c553c;
  border: 1px solid #271ba9;
  border-radius: 20px;
}

.modal_buttons{
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}



.redButton{
  background-color: red;
}