:root{
  --bg-color: #121212;
  --header-color: #1e1e1e;
  --block-color: #2a2a2a;
  --text-color: #ffffff;
}




#root {
  max-width: 1920px;
  text-align: center;
  color: var(--text-color);
}

.page{
  background-color: var(--bg-color);
}


.header {
  height: 45px;
  background-color: var(--header-color); /* #DDF6D2; 076117*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
}

.titleAndSelector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




.site-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.login-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  border-color: transparent;
}




/* Основна частина */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}


.customButton{
  padding: 4px;


  border-radius: 20px;
  border: 1px solid var(--text-color);
  
  color: var(--text-color);
  background-color: var(--header-color);


  cursor: pointer;
}


.bgCBlockC{
  background-color: var(--block-color);
}