.browseContainer{

    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; 

    flex-direction: row;

    height: 220px;
}


.filtersPanel{
    /*flex-shrink: 0;
    
    overflow-y: auto;
    overflow-x: auto;
    overflow: hidden;

    overflow: hidden;        
    text-overflow: ellipsis;     
    white-space: nowrap;         
    padding-left: 4px;
    max-width: 100px; 

    padding: 5px 5px 0 10px;*/

    width: 20%;
    padding: 5px 5px 0 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;

}
.filterItemBlock{
    display: flex;
    flex-direction: row;

    padding-left: 10px;

    cursor: pointer;
}

.filterTopName, .ItemName{

    font-size: 0.6rem;
}

.filterTopName{
    align-content: start;
    text-align: left;
}

.ItemName{
    text-align: start;

}

.searchAndTablePanel{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  
}

.searchBox{
    align-items: center;
    justify-content: center;
}

.searchInput{
    display: block;
    width: 90%;
    margin: 4px;
    font-size: 0.6em;
    background-color: var(--header-color);
    color: var(--text-color);
    border: 1px solid transparent;
}

.cardsTable{
    /*width: 100%;
  height: 100%;
  overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;*/
    flex-grow: 1; /* займає весь доступний простір */
    overflow: auto;
    max-height: 400px; /* або будь-яке обмеження по висоті */
    max-width: 100%;
}

.tableText, .tableTextCenter  {
  overflow: hidden;        
  text-overflow: ellipsis;     
  white-space: nowrap;         
  max-width: 50px;            /* обмеження по ширині, якщо потрібно */
}

.tableText{
    padding-left: 4px;
    text-align: left;
}

.tableTextCenter{
    text-align: center;
}


.triangleIconName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 15px;
}

.divForTriange{
    align-items: center;
    justify-content: center;

}