.studyBox{
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: transparent;
  padding: 5px;

}

.deckHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.deckNameContainer {
  display: flex;
  align-items: flex-start;
  flex: 1;
  
}

.cardTypesContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 3;
}

.cardTypeBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.newCardCheckboxesRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
}


.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.back_button {
  width: 20px;
  height: 20px;
  padding: 0px;
  transition: border 0.3s, box-shadow 0.3s;
  cursor: pointer;

  align-self: flex-start;

}

.studySession {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topBar {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.cardContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDisplay{
  padding: 2px 15px 15px 15px;
}

.controls {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responseButtons button {
  margin: 5px;
}




