.studyBox{

  flex-direction: column;

  
}

.studySettings{
  height: 220px;

}


.deckHeader {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;
  gap: 20px;*/
}

.deckNameContainer {
  display: flex;
  align-items: flex-start;
  flex: 1;
  
}

.cardTypesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cardTypeBlock {
  display: flex;
  flex-direction: column;

}

.newCardCheckboxesRow, .familiarCardCheckbox, .dueCardCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 10px;

}
.newCardCheckboxesRow{
  gap: 8px;
}



.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.back_button {
  width: 20px;
  height: 20px;
  padding: 0px;
  transition: border 0.3s, box-shadow 0.3s;
  cursor: pointer;

  align-self: flex-start;

}

.studySession {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.topBar {
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.cardContainer {
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDisplay{
  padding: 2px 15px 15px 15px;
}

.controls {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responseButtons button {
  margin: 5px;
}

.expantionCheck{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
}





.expantionOfDateBox{


  flex-grow: 1; /* займає весь доступний простір */
  overflow: auto;
  height: 80px; /* або будь-яке обмеження по висоті */
  width: 105px;
  max-width: 100%;
}

.expantionDate{
  align-items: center;
  /*justify-content: center;*/
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 15px; /* 36 */
}

.dateDisplay{
  font-size: 0.6em;
}






.trianle_Fakebutton{
  align-items: center;
  justify-content: center;


  /*border-top: 20px transparent;
  border-right: 0px transparent;
  border-bottom: 12px transparent;
  border-left: 20px solid gray;

  width: 0;
  height: 0px;*/
  

  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;

}



.leftSpace{
  text-align: start;
  padding-left: 35px;

}

.fakeInputWrapper{
  width: 100%;

  display: flex;
  justify-content: center;
}
